.form-control-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100px;
}

.td-error {
  margin-top: 4px;
  font-size: 0.875rem;
  min-height: 20px;
}

.td-error.invisible {
  visibility: hidden;
}

input:disabled {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.td-form-input {
  width: 100%;
  overflow: hidden;
}

input[disabled] {
  cursor: not-allowed;
}

input[disabled]:hover {
  title: attr(value);
}